h1 {
    color: greenyellow;
}
h2{
    color: greenyellow;
}
h3{
    color: greenyellow;
}
h4 {
    color: greenyellow;
}

body {
    background-color: green;

    text-align: center;
}
.imagem1 {
    width: 40%;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    font-style: initial;

}
.brilho {
   color: greenyellow;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: greenyellow;
        padding: 5%;
        border-color: green;
        border-width: 20px;
        border-style: solid;
        border-radius: 12px 50px 2px 120px;
    }

nav a{
    text-decoration: none ;
}
    text-transform: uppercase;
    text-align: center;
    color: greenyellow;
    font-weight: 300;
    font-size: 100%;
